# Tuple

Tuples is a fixed set of immutable sequence of Python Objects. The easiest way to create one is comma-seperated sequence of values:

In [1]:
tup=4,5,6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tup=(4,5,6),(7,8)

In [4]:
nested_tup

((4, 5, 6), (7, 8))

We can Convert Sequence or iteratoe to tuple by invoking tuple

In [5]:
tuple([4,0,3])

(4, 0, 3)

In [6]:
tup=tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [7]:
tup[0]

's'

Once the tuple is created its objects cannot be modified

In [8]:
#tup[0]='t'# Not supported

If the object inside the tuple is mutable like list. We can then append the list with the new element

In [9]:
tup=tuple(['foo',[1,2],True])
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [10]:
(4,None,'foo')+(6,0)+('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [11]:
('foo','bar')*4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

Unpacking Tuple

In [12]:
tup=(4,5,6)
a,b,c=tup
b

5

In [13]:
tup=4,5,(6,7)
a,b,(c,d)=tup
d

7

# List

In contrst with tuple, List are the varible length and its length can be modified.

In [14]:
a_list=[2,3,7,None]

In [15]:
tup=('foo','bar','baz')
b_list=list(tup)
b_list

['foo', 'bar', 'baz']

In [16]:
b_list[1]='peekaboo'
b_list

['foo', 'peekaboo', 'baz']

#### Adding and Removing Elements

Adding and Removing the element is done using the append, insert and the pop operations.

In [17]:
b_list.append('dwarf')

In [18]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [19]:
b_list.insert(1,'peekachu')
b_list

['foo', 'peekachu', 'peekaboo', 'baz', 'dwarf']

Insert operation is quite expensive then the Append operation. Since in the Insert operation we have to switch each element.

In [20]:
b_list.pop(2)
b_list

['foo', 'peekachu', 'baz', 'dwarf']

In [21]:
b_list.remove('peekachu')

In [22]:
b_list

['foo', 'baz', 'dwarf']

List remove can be done using both the pop and remove menthod. In the remove method the variable can be both the index value and the variable.

## Slicing

We can select the section of teh list by mentioning the start and stop points.Element at the start is included but the element at the stop is not included.

In [23]:
seq=[7,2,3,7,5,6,0,1]

In [24]:
seq[1:5]

[2, 3, 7, 5]

Element can be assigned the sequence

In [25]:
seq[3:4]=[6,3]

In [26]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

Either of the start and stop condition can be removed. In that case the start and stop condition will be the start and the end of the sequence.

In [27]:
seq[:5]

[7, 2, 3, 6, 3]

In [28]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [29]:
seq[-4:]

[5, 6, 0, 1]

In [30]:
seq[-6:-2]

[6, 3, 5, 6]

Slicing can also be used with double colon. Which can be used to do skipping the term after particular sequence. Sepcially, If we use the -1 it can be used to reverse the string

In [31]:
seq[::2]

[7, 3, 3, 6, 1]

In [32]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

#### Dict

Its common to hash map. With the key value pairs, Where the key and the values are the Python Objects.
It is created using the curly braces and the the comma seperated values.

In [33]:
d1={'a':'some values','b':[1,2,3,4]}

In [34]:
d1

{'a': 'some values', 'b': [1, 2, 3, 4]}

In [35]:
#insertion
d1[7]={'a,b'}

In [36]:
d1

{'a': 'some values', 'b': [1, 2, 3, 4], 7: {'a,b'}}

In [37]:
#checking
'b' in d1

True

In [38]:
#Removing the values form the dict
d1[5]={'some values'}
d1

{'a': 'some values', 'b': [1, 2, 3, 4], 7: {'a,b'}, 5: {'some values'}}

In [39]:
d1['dummy']={'abcd'}
d1

{'a': 'some values',
 'b': [1, 2, 3, 4],
 7: {'a,b'},
 5: {'some values'},
 'dummy': {'abcd'}}

In [40]:
del d1[5]

In [41]:
d1

{'a': 'some values', 'b': [1, 2, 3, 4], 7: {'a,b'}, 'dummy': {'abcd'}}

In [42]:
ret= d1.pop('dummy')

In [43]:
ret

{'abcd'}

In [44]:
d1

{'a': 'some values', 'b': [1, 2, 3, 4], 7: {'a,b'}}

#### Set

Set is an unordered collection of unique elements. Set can be defined using the set functions or my using directly literals

In [45]:
set([2,2,1,3,3])

{1, 2, 3}

In [46]:
{2,2,2,1,3,3}

{1, 2, 3}

In [47]:
a={1,2,3,4,5}
b={3,4,5,6,7,8}

In [48]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [49]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

In [50]:
a.intersection(b)

{3, 4, 5}

In [51]:
a&b

{3, 4, 5}